asgiref==3.5.2
attrs==22.1.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
Django==4.0.6
django-bootstrap-v5==1.0.11
django-bootstrap5==22.1
iniconfig==1.1.1
packaging==21.3
Pillow==9.2.0
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-django==4.5.2
soupsieve==2.3.2.post1
sqlparse==0.4.2
tomli==2.0.1
