{% extends 'base.html' %}
{% block title %}
<h1>Add multiple flashcards</h1>
{% endblock %}
{% block content %}
<p>Type words, separate front and back with a semicolon and space, separate flashcards with a new line.</p>
    <p>Example:</p>
    <p>Word; Translation <br>
    Another Word; Another Translation</p>
    <form id="form" action="" method="POST">
    {% csrf_token %}
         <label for="choose-list">Choose a list:</label>
    <select id="choose-list" name="list">
        {% for list in lists %}
            <option value="{{ list.id }}">{{ list.name }} ({{ list.courses.name }})</option>
        {% endfor %}
    </select>
    <label for="choose-front-lang">Language you are learning:</label>
    <select id="choose-front-lang" name="front_lang">
        {% for lang in langs %}
            <option value="{{ lang.id }}">{{ lang.language }} ({{ lang.symbol }})</option>
        {% endfor %}
    </select>
    <label for="choose-back-lang">Learning in language:</label>
    <select id="choose-back-lang" name="back_lang">
        {% for lang in langs %}
            <option value="{{ lang.id }}">{{ lang.language }} ({{ lang.symbol }})</option>
        {% endfor %}

    </select>
    <p>
         <label for="multiple-flashcards">Type values:</label>
        <textarea id="multiple-flashcards" name="cards" form="form" style="resize:both;"></textarea>
</p>
<input type="submit" value="OK">
</form>

{% endblock %}