<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flashcards</title>

{% load bootstrap5 %}


{% bootstrap_css %}
{% bootstrap_javascript %}
    {% load static %}


</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e2d9f3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Flashcards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "main" %}">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "show-courses" %}">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "show-lists" %}">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "list-flashcards" %}">All flashcards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "learning-mode" %}">Learning Mode</a>
        </li>
        {% if user.is_anonymous %}
                    <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Login</a></li>
                    {% else %}
                    <li class="nav-item nav-link">Username: {{ user.username }} (<a class="" href="{% url 'logout' %}">Logout</a>)</li>
                {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div>{% bootstrap_messages %}</div>
<div class="container p-3 border bg-light">{% block title %} {% endblock %}</div>
<div class="container p-3 border">
{% block content %}

{% endblock %}
</div>
</body>
</html>