{% extends 'base.html' %}
{% block title %}
<h1>Learning Mode</h1>
{% endblock %}
{% block content %}

    <h3>{{ course.name }}</h3>
<h4>Learn by list:</h4>
    <form action="" method="POST">
    {% csrf_token %}
    <label for="choose-list">Choose a list:</label>
    <select id="choose-list" name="list">
        {% for list in course.list_set.all %}
            <option value="{{ list.id }}">{{ list.name }} ({{ list.flashcard_set.count }})</option>
        {% endfor %}
    <option value="c{{ course.id }}">All in this course</option>
    </select>
    <label for="choose-level">Choose a level:</label>
    <select id="choose-level" name="level">
        <option value="1">Hard </option>
        <option value="2">Good</option>
        <option value="3">Easy</option>
        <option value="4">Excellent</option>
        <option value="5">Marked "Difficult"</option>
    </select>
    <label for='choose-method'>Choose learning method:</label>
    <select id="choose-method" name="method">
        <option value="words">Translate {{ course.language_to_learn.symbol }} -> {{ course.learning_in_language.symbol }}</option>
        <option value="words-reverse">Translate {{ course.learning_in_language.symbol }} -> {{ course.language_to_learn.symbol }}</option>
        <option value="img">Images</option>
{#        <option value="gaps">Fill in gaps</option>#}
    </select>
<input type="submit" value="OK">
</form>

{% endblock %}