{% extends 'base.html' %}

{% block content %}
<h1>{{ list.name }} - list's details</h1>
    <p>Language to learn: {{ list.language_to_learn }}</p>
    <p>Learning in: {{ list.learning_in_language }}</p>
    <a href="/show_all/lists/{{ list.id }}/edit/">>edit<</a>
        <a href="/show_all/lists/{{ list.id }}/delete/">>delete<</a>
    <a href="/show_all/lists/{{ list.id }}/add-flashcard/">+ add new flashcard to this list</a>

<p>Included in course:</p>
   <ul>

    <li><a href="/show_all/courses/{{ list.courses.id }}/">{{ list.courses.name }}</a></li>
   </ul>
    <h2>Flashcards added to this list: {{ list.flashcard_set.count }}</h2>
    <ol>
    {% for card in list.flashcard_set.all %}
    <li><h3>{{ card.front }} - {{ card.back }}</h3>
        <p>{{ card.front_language.symbol }} - {{ card.back_language.symbol }} </p>
        <a href="/show_all/flashcards/{{ card.id }}/">>details<</a> <a href="/show_all/flashcards/{{ card.id }}/edit/">>edit<</a> <a href="/delete/f/{{ card.id }}/">>delete<</a></li>
    {% endfor %}
    </ol>

{% endblock %}