{% extends 'base.html' %}
{% block title %}
<h1>Main page</h1>
{% endblock %}
{% block content %}

<div class="container p-2 mb-2 px-3 border bg-light">
        <h4>How to start:</h4>
    <p>Create an account, create a new course, add lists and flashcards. Then try Learning Mode!</p>
    </div>
    <h3>Quick welcome revision:</h3>
    <div class="d-inline-flex p-2 px-4 border bg-light">
    {% if card is None %}
    <h4>No flashcards added!</h4>
    {% else %}
    <h4>{{ card.front }} - {{ card.back }}</h4>
{%  endif %}
    </div>
    <div class="mt-4">
    <h5>Recently added list:</h5>
    {% if recent_list is None %}
    no lists added!
    {%  else %}
    <a href="/show_all/lists/{{ recent_list.id }}/">{{ recent_list.name }}</a>
    {% endif %}
    </div>
    <div class="mt-4">
    <h5>Recently added course:</h5>
    {% if recent_course is None %}
    no courses added!
    {%  else %}
    <a href="/show_all/courses/{{ recent_course.id }}/">{{ recent_course.name }}</a>
    {% endif %}
    </div>

{% endblock %}

