{% extends 'base.html' %}

{% block content %}
<h1>Your flashcards</h1>
    <p><a href="{% url "add-flashcard" %}">Add a new flashcard</a></p>
    <p>Added so far: {{ flashcards.count }} flashcard(s)</p>
    <ul>
    {% for card in flashcards %}
        <li><h3>{{ card.front }} - {{ card.back }}</h3>
        <p>{{ card.front_language.symbol }} - {{ card.back_language.symbol }} </p>
        <a href="/show_all/flashcards/{{ card.id }}/">>details<</a> <a href="/show_all/flashcards/{{ card.id }}/edit/">>edit<</a> <a href="/delete/f/{{ card.id }}/">>delete<</a></li>

    {% endfor %}
    </ul>
{% endblock %}